my-workflow-SWwhWSnt9tjQDhwq.json
{"createdAt":"2025-08-15T11:35:07.534Z","updatedAt":"2025-08-15T11:35:07.534Z","id":"SWwhWSnt9tjQDhwq","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"58831f39-8112-489b-b76e-761de2e85e13","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2096,288]},{"parameters":{"options":{}},"id":"224f2789-b55d-47b9-8322-f255ab70c6ec","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1904,288]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"315ba601-adc0-4a5b-b118-c9f3016387a0","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1696,288]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"7d2586ae-bb97-4398-bf7f-dc48a4402b7e","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1504,288]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/IgorZuevich/workflow_backup2","mode":"url"},"repository":{"__rl":true,"value":"workflow_backup2","mode":"list","cachedResultName":"workflow_backup2","cachedResultUrl":"https://github.com/IgorZuevich/workflow_backup2"},"filePath":"="},"id":"10dffeb1-2416-4c9d-9da6-913e95d04454","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1296,288],"alwaysOutputData":true,"webhookId":"705e2e54-93a7-4717-afdc-baee83fa1330"},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"d6db5f5f-b089-407a-84eb-d2c98d1148bf","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1104,288]},{"parameters":{"filters":{},"requestOptions":{}},"id":"4005526e-a4f1-41c1-804a-9f09bd9bbe13","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-896,288]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"0bb324ce-069e-453f-b48e-68098b8ab3a6","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-704,288]},{"parameters":{"batchSize":1,"options":{}},"id":"fa328033-de1d-4d4a-804a-e517be1aefb1","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-464,288]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"59f8830a-7862-4ea1-b4a6-4770b752a2f3","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-224,208]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/IgorZuevich/workflow_backup2","mode":"url"},"repository":{"__rl":true,"value":"workflow_backup2","mode":"list","cachedResultName":"workflow_backup2","cachedResultUrl":"https://github.com/IgorZuevich/workflow_backup2"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"857a2161-8fb3-4c75-b182-014d9b1c6069","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"884c9442-112b-4189-b068-355e31d5a69a"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/IgorZuevich/workflow_backup2","mode":"url"},"repository":{"__rl":true,"value":"workflow_backup2","mode":"list","cachedResultName":"workflow_backup2","cachedResultUrl":"https://github.com/IgorZuevich/workflow_backup2"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"d8820d85-b1e6-4643-b319-43642fc8e2e2","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,400],"webhookId":"c7253458-a0fa-4e78-af06-da76d4ff444f"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e3a365c5-2fae-4236-8e52-7614be216852","triggerCount":0,"tags":[]}